.links-border {
  width: 90%;
  border: 1px #C9D5FD solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

img {
  border-radius: 50%;
  max-width: 150px;
}

.subtitle {
  margin: 5px 0 0 0;
}

.pic-div {
  text-align: center;
}

.carousel-inner img{
  display: inline-block !important;
}

.mid-blue {
  color: #5061C5;
}

.dark-blue {
  color: #271B80;
}

a {
  font-weight: bold;
  font-size: larger;
}

a:hover {
  text-shadow: 1px 1px 1px #bababa;
}