.links-border {
  width: 90%;
  border: 1px #C9D5FD solid;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

img {
  border-radius: 50%;
}

.subtitle {
  margin: 5px 0 0 0;
}

.pic-div {
  text-align: center;
}

.carousel-inner img{
  display: inline-block !important;
}

a {
  color: #5061C5;
  font-weight: bold;
}